# Your Stoat bot token (get one from https://app.stoat.chat)
BOT_TOKEN=your-bot-token-here

# Command prefix (default: !)
COMMAND_PREFIX=! # moving to custom prefix soon, so dont use this in the future

# MySQL database
DB_HOST=localhost
DB_PORT=8000
DB_USER=user
DB_PASS=pass
DB_NAME=dbname